# Editors
.vscode/
.idea/
# C extensions
*.so
# Vagrant
.vagrant/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Flask stuff:
instance/
.webassets-cache
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# My stuff
test.py
uploads/
