{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="page-header">Панель управления</h3>
            <font size="4px"><a href="{{ url_for('main.upload') }}"><span class="glyphicon glyphicon-upload"></span> Загрузка файлов </a></font><br>
            <font size="4px"><a href="{{ url_for('main.report') }}"><span class="glyphicon glyphicon-list-alt"></span> Формирование отчетов </a></font>
        </div>
    </div>
</div>
{% endblock %}
