{% extends "index.html" %}

{% block scripts %}
    {{super()}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="page-header">Панель управления</h3>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5>Загрузить файлы *.iso, *.marc, *.dat</h5>
                <form method="POST" action="{{ url_for('main.upload_files') }}" class="dropzone" enctype="multipart/form-data"></form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{super()}}
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

{% endblock %}