{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Поиск по научным публикациям</h2>
<div class="container">
    <div class="row col-centered">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <p class="text-center"> 
                <form class="form form-horizontal" action="/search" method="POST">
                {{ wtf.form_field(form.request) }}
                </form>
                
            </p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <p class="text-center"> 
                <form class="form form-horizontal" action="/search" method="POST">
                {{ wtf.form_field(form.submit) }}
                </form>
            </p>
        </div>
    </div>
</div>
<hr/>

{% endblock %}