{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="page-header">Выгрузить отчет</h3>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form method="get" action="{{ url_for('main.report') }}">
                        <div class="form-group" >
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.report_type) }}
                            {{ wtf.form_field(form.source_database, placeholder="База данных") }}
                            <p><b>Период времени:</b></p>
                            {{ wtf.form_field(form.date_1) }}
                            {{ wtf.form_field(form.date_2) }}
                            {{ wtf.form_field(form.submit) }}
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}